__pycache__/
*.py[cod]
*$py.class
.Python
env/

# Models results
*.pth
*.pt

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# mypy
.mypy_cache/

# IDE settings
.vscode/
!.vscode/settings.json
.idea/

# Claude
.claude/